.welcome {
    background-image: url("../public/cake.png");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 622px !important;
    border-bottom: 1px solid #238177;
}

.titleContainer h1 {
    font-size: 172px;
    background: -webkit-linear-gradient(#b7d9c0, #a3d0b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px !important;
}

.titleContainer h2 {
    font-size: 96px;
    margin-bottom: -30px !important;
    color: #cdcccc;
    font-weight: lighter;
}

@media screen and (max-width: 770px) {
    .titleContainer h1 {
        font-size: 148px;
        background: -webkit-linear-gradient(#b7d9c0, #a3d0b2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 15px !important;
    }
    .titleContainer h2 {
        font-size: 72px;
        margin-bottom: -30px !important;
        color: #cdcccc;
        font-weight: lighter;
    }
}

@media screen and (max-width: 1199px) {
    .titleContainer h1, .titleContainer h2 {
        margin: 0 !important;
    }
}

.titleContainer h1, .titleContainer h2 {
    margin-left: 10%;
}

.loreContainer {

}

.loreBlock {
    margin-top: 40px;
}

.loreBlock h1 {
    text-transform: uppercase;
    font-size: 28px;
    color: #d5e9d8;
    margin-bottom: 25px !important;
}

.loreBlock p {
    font-size: 24px;
    font-weight: lighter;
    color: #d8d7dd;
}
