@media screen and (min-width: 577px) {
    .works {
        max-width: 80%;
        margin-left: calc(20% / 2);
    }
}
@media screen and (max-width: 576px) {
    .search {
        border-radius: 0 !important;
    }
}

.search {
    background-color: #3d4a57;
    border-radius: 20px;
    transform: translateY(-50%);
    padding: 0 !important;
}

@media screen and (min-width: 1200px) {
    .search {
        min-height: 232px !important;
    }
}

.searchImg {
    background-image: url("../public/q.png") !important;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1199px) {
    .searchImg {
        display: none !important;
    }
    .search {
        padding-bottom: 20px;
    }
    .search h1 {
        text-align: center;
    }
}

.searchContent h1 {
    font-size: 64px;
    color: #bbddc9;
}

@media screen and (max-width: 1199px) {
    .searchContent h1 {
        font-size: 36px !important;
    }
}
@media screen and (max-width: 768px) {
    .searchContent h1 {
        margin: 10px 0;
    }
}

.searchContent input {
    width: 100%;
    background-color: #475561;
    border-radius: 3px;
}
